[tool.poetry]
name = "autocensus"
version = "2.1.0"
description = "A tool for collecting ACS and geospatial data from the Census API"
license = "MIT"
authors = ["Christopher Setzer <chris.setzer@socrata.com>"]
readme = "readme.md"
homepage = "https://github.com/socrata/autocensus"
keywords = ["census", "acs", "api", "data", "socrata"]
classifiers = [
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research"
]

[tool.poetry.dependencies]
python = ">=3.8,<4.0"
appdirs = "^1.4.4"
Fiona = "^1.8.21"
geopandas = "^0.10.2"
httpx = "^0.23.0"
nest-asyncio = "^1.5.5"
pandas = "^1.4.2"
Shapely = "^1.8.2"
socrata-py = "^1.1.13"
tenacity = "^8.0.1"
typing-extensions = "^4.2.0"
us = "^2.0.2"
yarl = "^1.7.2"

[tool.poetry.dev-dependencies]
bandit = "^1.7.4"
black = "^22.3.0"
flake8 = "^4.0.1"
isort = "^5.10.1"
mypy = "^0.960"
pydocstyle = "^6.1.1"
pyinstrument = "^4.1.1"
pytest = "^7.1.2"
pytest-cov = "^3.0.0"

[tool.black]
line-length = 99
target-version = ["py37", "py38", "py39", "py310"]
skip-string-normalization = true

[tool.isort]
force_sort_within_sections = true
include_trailing_comma = true
line_length = 99
multi_line_output = 3

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
