[tool.poetry]
name = "autocensus"
version = "2.0.2"
description = "A tool for collecting ACS and geospatial data from the Census API"
license = "MIT"
authors = ["Christopher Setzer <chris.setzer@socrata.com>"]
readme = "readme.md"
homepage = "https://github.com/socrata/autocensus"
keywords = ["census", "acs", "api", "data", "socrata"]
classifiers = [
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research"
]

[tool.poetry.dependencies]
python = ">=3.7.1,<3.11"
appdirs = "^1.4.4"
Fiona = "^1.8.20"
geopandas = "^0.10.2"
importlib_metadata = {version = "^2.0.0", python = "< 3.8"}
httpx = "^0.20.0"
nest-asyncio = "^1.5.1"
numpy = "^1.21.2"
pandas = "^1.3.4"
Shapely = "^1.7.1"
socrata-py = "^1.0.8"
tenacity = "^8.0.1"
typing-extensions = "^3.10.0"
us = "^2.0.2"
yarl = "^1.7.0"

[tool.poetry.dev-dependencies]
bandit = "^1.7.0"
black = "^21.9b0"
flake8 = "^4.0.1"
isort = "^5.9.3"
mypy = "^0.910"
pydocstyle = "^6.1.1"
pyinstrument = "^4.0.4"
pytest = "^6.2.5"
pytest-cov = "^3.0.0"

[tool.black]
line-length = 99
target-version = ["py37"]
skip-string-normalization = true

[tool.isort]
force_sort_within_sections = true
include_trailing_comma = true
line_length = 99
multi_line_output = 3

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
