aiohttp==3.5.4
async-timeout==3.0.1
attrs==19.1.0
chardet==3.0.4
Click==7.0
click-plugins==1.1.1
cligj==0.5.0
Fiona==1.8.6
geopandas==0.5.0
idna==2.8
multidict==4.5.2
munch==2.3.2
numpy==1.16.4
pandas==0.24.2
pyproj==2.2.0
python-dateutil==2.8.0
pytz==2019.1
Shapely==1.6.4.post2
six==1.12.0
tenacity==5.0.4
titlecase==0.12.0
yarl==1.3.0
